.addunit-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addunit-header {
  font-size: 32px;
  color: #003e4e;
}

.addunit-form {
  display: flex;
  flex-direction: column;
  align-items: center;    
}

.addunit-input {
  margin-bottom: 10px;  
}